/* The Modal (background) */
.modalFrame{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top:0%;
    left:0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: on; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s; 


}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:10%;
    top: 20%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: on; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s; 
}

/* Modal Header */
.modal-header {
    border-left:10px solid DeepSkyBlue ;
    padding: 2px 16px;
    background-color: LightCyan;
    color: MidnightBlue ;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  height:350px;
  overflow:scroll;
  }

modalImage{
  float: left;
  padding: 1em;
  margin: 0;
  overflow: hidden;
}
modalImage img{
 max-width:400px; 
}

modalText{
  margin-left:360px;
  padding: 2em;
  overflow: hidden;
  font-size:32px;
}

/* Modal Footer */
.modal-footer {
    height:100px;
    padding: 2px 16px;
    background-color: LightYellow ;
    color: LightPink;
}

/* Modal Content */
.modal-content {
    position: fixed;
    background-color: #fefefe;
    padding: 0;
    border: 2px solid LightBlue;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* The Close Button */
.close {
    color: Black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: PaleGoldenRod ;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.OuterImg{
    margin-right: 10px;
    border-radius:10%;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}
.InnerImg{
    float: right;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}
p{
    word-wrap:break-word; word-break:normal;
}
.ItemHead{
    font-size:200%;
    font-weight: bold;
}
.like{
    vertical-align: middle;
}
#footer{
  position:absolute;
  left:0px;
  bottom:100px;
  }
.logo2{
position:absolute;
  left:650px;
  top:51px;
/*  background-color:white;*/

}
#home{
position:absolute;
  left:350px;
  top:90px;
  font-size:30px;
}
#upload{
position:absolute;
  left:500px;
    top:90px;
      font-size:30px;
      }
#list{
position:absolute;
  left:900px;
    top:90px;
      font-size:30px;
      }
#us{
position:absolute;
  left:1050px;
    top:90px;
      font-size:30px;
      }
#loginbtn{
  position:absolute;
    left:730px;
        top:570px;

}

