.eins{
  background-size:cover;
  height:100vh;
  background-image:url("https://photos-5.dropbox.com/t/2/AACAp49fuzraR0vQIL307hUn0Y5x5xVSGJvrnIX7vCOdDw/12/340842432/jpeg/32x32/1/_/1/2/2016-11-27%2018.07.05.jpg/EP6d19QCGMl-IAIoAg/ivySpX-4urwacLvpm7qx2dWD-mPI8pKlC-wMD3X02fE?size=2048x1536&size_mode=3");
  text-align:center;
  padding:180px 0;
  font-size:600%;
  font-family: 'Merriweather Sans', sans-serif;
  color:white;
}

.zwei{
  background-size:cover;
  height:100vh;
  background-color:#5bb4e5;
  text-align:center;
  padding:100px 0;
  font-size:500%;
  font-family: 'Merriweather Sans', sans-serif;
  color:white;
  }

.drei{
  background-size:cover;
  height:120vh;
  text-align:center;
  padding:40px 0;
  font-size:500%;
  font-family: 'Merriweather Sans', sans-serif;
  color:rgb(52,78,80);
  z-index:-1;
}

p{
  font-size:50%;
  padding:10px 0;
}


.drei img{
  width:300px;
  height:300px;
  border-radius:50%;
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  position:absolute;
}

.drei img:hover{
	transition: opacity 0.9s;
  -ms-transition: opacity 0.9s;
  /* IE 9 */
  -moz-transition: opacity 0.9s;
  /* Firefox */
  -webkit-transition: opacity 0.9s;
  /* Safari and Chrome */
  -o-transition: opacity 0.9s;
  /* Opera */
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.lcw{
  -webkit-filter: drop-shadow(8px 8px 10px blue); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px blue);
  top:1470px;
  left:120px;
}

.lcw:hover{
  -webkit-filter: drop-shadow(8px 8px 10px blue); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px blue);
}

.hhc{
  -webkit-filter: drop-shadow(8px 8px 10px black); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px black);
  top:1470px;
  left:480px;
}

.hhc:hover{
  -webkit-filter: drop-shadow(8px 8px 10px black); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px black);
}

.hyt{
  -webkit-filter: drop-shadow(8px 8px 10px red); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px red);
  top:1470px;
  left:840px;
}

.hyt:hover{
  -webkit-filter: drop-shadow(8px 8px 10px red); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px red);
  
}

.cc{
  -webkit-filter: drop-shadow(8px 8px 10px yellow); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px yellow);
  top:1750px;
  left:310px;
}

.cc:hover{
  -webkit-filter: drop-shadow(8px 8px 10px yellow); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px yellow);
}

.lgc{
  -webkit-filter: drop-shadow(8px 8px 10px green); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px green);
  top:1750px;
  left:670px;
}

.lgc:hover{
  -webkit-filter: drop-shadow(8px 8px 10px green); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(8px 8px 10px green);
}

.context{
  font-size:40%;
  position:absolute;
  z-index:3;
  font-family:cursive;
  color:transparent;
}
#numlcw{
  top:1560px;
  left:170px;
}
#numhhc{
  top:1560px;
  left:560px;
}
#numhyt{
  top:1560px;
  left:950px;
}
#numcc{
  top:1840px;
  left:360px;
}

#numlgc{
  top:1840px;
  left:750px;
}

.vier{
  background-size:cover;
  height:100vh;
  background-color:#c4ebef;
  text-align:center;
  padding:100px 0;
  font-size:500%;
  font-family: 'Merriweather Sans', sans-serif;
  color:rgb(52,78,8);
}

body{
    margin:0;
    padding:0;
}

footer{
    display:block;
    background:white;
    position:relative;
    height:60px;
    margin-top:0;
    bottom:0;
    width:100%;
    margin:0;
    padding:10px;
}


